body {
  padding-top: 1rem;
}

.jumbotron{
  margin-bottom: 0;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: left;
}

#main-content {
  padding: 2rem;
}

.container-fluid{
  padding-bottom: 2rem;
}
